@model Shop.ViewModels.ShoppingCardModels.ShoppingCardModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (Model.ShoppingCart.ShoppingCartItems.Count() > 0)
{
    
        <a asp-controller="ShoppingCart" asp-action="Index">
            <div style="font-size: 1.5em" class="nav-link text-dark"><i class="fas fa-shopping-cart"></i>  @Model.ShoppingCart.ShoppingCartItems.Count()</div>
        </a>
    

}